In [1]:
# we use pdf plumber library to extract the data from pdf and the process it accordingly
import pdfplumber

In [2]:
# then we shall need pandas lib to store the extracted data to the output excel file
import pandas as pd
from collections import namedtuple

In [3]:
#Company Name, Bill To, Vendor Name, Vendor Address, Invoice No., Date, Invoice Due Date, Total

In [4]:
Invoice = namedtuple('Invoice', 'Company_Name Bill_To Vendor_Name Vendor_Address Invoice_No Date Invoice_Due_Date Total')

In [5]:
with pdfplumber.open("E:\Intern RPA\Task-PDF.pdf") as pdf:
    page = pdf.pages[0]
    text = page.extract_text()

In [6]:
print(text)

Technometrics Limit ed
Banani
Dhaka
Invoice
Bangladesh
1213
BILL TO: XYZ INVOICE NO : 00001
Vendor Name: Shopify DATE: 12/31/20
INVOICE DUE DATE: 12/01/21
Address: House 50, Dhaka,Bangladesh
ITEMS DESCRIPTION QUANTITY PRICE TAX AMOUNT
Headphone Bloody Series 1 2000 5% 2100
NOTES: TOTAL: 2100

In [7]:
lines = text.split('\n')
Company_Name = lines[0]

In [8]:
line_items = []
for row in lines:
    if row.startswith('BILL TO'):
        Bill_To = row.split()[2]
        Invoice_No = row.split()[-1]
    if row.startswith('Vendor'):
        Vendor_Name = row.split()[2]
        Date = row.split()[-1]
    if row.startswith('Address:'):
        new_address = row.split()
        new_address = new_address[1:]
        Vendor_Address = ' '.join(new_address)
    if row.startswith('INVOICE '):
        Invoice_Due_Date = row.split()[-1]
    if row.startswith('NOTES:'):
        Total = row.split()[-1]
line_items.append(Invoice(Company_Name, Bill_To, Vendor_Name, Vendor_Address, Invoice_No, Date, Invoice_Due_Date, Total))

In [9]:
data_frame = pd.DataFrame(line_items)

In [10]:
df = data_frame.drop_duplicates()

In [11]:
df.head()

,Company_Name,Bill_To,Vendor_Name,Vendor_Address,Invoice_No,Date,Invoice_Due_Date,Total
0,Technometrics Limit ed,XYZ,Shopify,"House 50, Dhaka,Bangladesh",00001,12/31/20,12/01/21,2100

In [12]:
df.to_excel("output.xlsx")